.container {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
}

.hfef {
  justify-content: center;
  display: flex;
}
@media only screen and (min-width: 0px) and (max-width: 700px) {
  .hfef {
    justify-content: start;
  }
}
